/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng (kiểu chữ,...) */

html { 
    font-family: Helvetica, arial, sans-serif;
    scroll-behavior: smooth;
 }
 .clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
/* main */
#header{
    height: 46px;
    background-color: #000 ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;    
    z-index: 1;
}
#nav, .subnav {
    list-style: none;
}
#nav > li {
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav{
    display: inline-block;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav-arrow-down{
    font-size: 12px;
} 
#nav .subnav a {
    color: #000;
    padding: 0 12px;
}
#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

#header .mobile-menu-btn,
#header .search-button{
    float: right;
    padding: 0 21px ;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .search-button:hover {
    background-color: #f44336    ;
    cursor: pointer;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background-image: none;
    background: url('../img/Slider/chicago.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 1px 1px #000;
}
/* #content{  
    
} */
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;  
}
#content .section-sub-heading{
    font-size: 15px;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .memeber-name{
    font-size: 15px;
}  
#content .member-list{
    margin-top: 32px;
    padding-bottom: 32px;
}
#content .member-item {
    text-align: center;
}
#content .member-img{
    margin-top: 15px;
    margin-bottom: 31px;
    width: 154px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;

}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}
.ticket-list .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quality{
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50px;
    margin-top: -3px;
}
/* Place */
.place-list{
    margin: 32px -8px 48px;
    padding-bottom: 32px ;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    width: 120px;
    height: 39px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;   
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    float: right;
    padding: 10px 16px;
    border: none;
}
.form-submit-btn:hover{
    color: #000;
    background-color: #757575;
    cursor: pointer;
}
.map-section img{
    width: 100%;
}
#footer{
    text-align: center;
    padding: 64px 16px;
    background-color: #f1f1f1;

}
.socials-list{
    font-size: 24px;
}
.socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.socials-list a:hover{
    opacity: 0.6;
}

.copy-right{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0px;
}
.copy-right a{
    color: rgba(0, 0, 0, 0.6);
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    display: none;
}
.modal.active{
    display: flex;
}
.modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 00.4);
}
.modal-body{
    background-color: #fff;
    margin: auto;
    width: 900px;
    z-index: 1;
}
.modal-body-header{
    background-color: rgb(0 150 136);
    height: 130px;
}
.ticket-box-close{
    margin-left: auto;
    width: 52px;
    height: 52px;
    display: flex;
}
.ticket-box-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.ticket-box-close-icon{
    margin: auto;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.modal-heading{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}
.modal-heading i{
    font-size: 24px;
}
.modal-heading__title{
    margin: 0 12px;
    font-size: 32px;
    font-weight: 400;
}
.modal-container{
    padding: 0 16px;
}
.modal-container__ticket-person{
    display: flex;
    flex-direction: column;
    
}
.modal-container__ticket-person-lable{
    margin: 16px 0;
    align-items: center;
}
.modal-container__ticket-person input{
    height: 40px;
    padding: 8px;
}
.modal-pay-btn{
    width: 100%;
    height: 56px;
    margin: 16px 0;
    border: none;
    background-color: #009688;
    color: #fff;
    line-height: 56px;
    font-weight: 600;
}
.modal-pay-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal-container__help{
    text-align: end;
    margin: 24px 0 32px;
}